<div class="ui container quick">
  <%= render partial: "layouts/boardMenu" %>
  <div class="ui items">
    <div class="item">
      <div class="ui small image">
        <img src="/images/wireframe/image.png">
      </div>
      <div class="middle aligned content">
        <div class="header">
          Content A
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          <div class="ui right floated button">
            Action
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
