<div class="ui container quick">
  <div class="ui inverted segment">
    <div class="ui inverted secondary pointing menu">
      <div class="active item">
        퀵 메뉴판
      </div>
      <a class="item">
        메뉴 인기도
      </a>
    </div>
  </div>
</div>
