<div id="registrations">
  <div class="ui image">
    <%= image_tag "owners_sign_up.jpg", class: "ui fluid image" %>
    <span>
      오너가 되어,<br>매장 관리를 해보세요!
    </span>
  </div>
</div>

<div class="ui massive floating sign_up message">
  <h2 class="ui header">1 &nbsp;&nbsp; 
    <small>간단히 계정을 만듭니다.</small>
  </h2>
</div>

<div class="step1 signup" id="sign_up_devise">
  <%= render partial: "layouts/devise/signUp" %>
</div>

<div class="step2">
</div>
