/* line 3, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
#sign_in_devise {
  width: 30%;
}
/* line 5, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
#sign_in_devise label {
  color: white;
}
/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
#sign_in_devise h1 {
  font-size: 3em;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
.ui.floating.message {
  margin: 0 auto;
}

/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
#confirm {
  width: 30%;
  padding-bottom: 20px;
  margin: 0 auto;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
.ui.grid.owner-register-form {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
/* line 30, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
.ui.grid.owner-register-form #status {
  padding-left: 60px;
}
/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/devise.scss */
.ui.grid.owner-register-form .eight.wide.column.owner-account {
  width: 30%;
}
/* line 6, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
#brand {
  font-size: 1em;
}
/* line 8, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
#brand a {
  color: black;
}

/* line 13, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home {
  text-align: center;
}
/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home .ui.image {
  position: relative;
  width: 100%;
}
/* line 22, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home .ui.image span {
  font-weight: bold;
  font-size: 3.5em;
  color: white;
  position: absolute;
  top: 200px;
  left: 0px;
  right: 0px;
  width: 100%;
}
/* line 34, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home .ui.image span #go-down {
  margin-top: 80px;
  font-size: 1.0em;
}
/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home .ui.image span .header-msg {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 1.5em;
  line-height: 1.5em;
}
/* line 46, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home .ui.image span .msg {
  font-size: 1.5em;
  color: rgba(0, 181, 173, 0.85);
}
/* line 51, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home .ui.image span .description {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  font-size: 0.3em;
  line-height: 1.5em;
  margin-top: 100px;
}
/* line 60, /home/ubuntu/workspace/app/assets/stylesheets/home.scss */
.home .ui.image span .quick {
  margin-top: 100px;
}
/* line 4, /home/ubuntu/workspace/app/assets/stylesheets/menus.scss */
.owners-menu {
  margin-top: 100px;
}
/* line 4, /home/ubuntu/workspace/app/assets/stylesheets/mypage.scss */
.mypage {
  margin-top: 60px;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 24, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 29, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 33, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 39, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 47, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 58, /home/ubuntu/workspace/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 1, /home/ubuntu/workspace/app/assets/stylesheets/stores.scss */
.store-body {
  margin-top: 80px;
}

/* line 4, /home/ubuntu/workspace/app/assets/stylesheets/stores.scss */
.ui.form.store-new {
  width: 50%;
  margin: 0 auto;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 17, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
.ui.menu .ui.dropdown .menu > .item {
  text-align: left;
}

/* line 20, /home/ubuntu/workspace/app/assets/stylesheets/application.scss */
#owner-name {
  color: #00B5AD;
  font-weight: bold;
}
