$space : 20px;
// 로그인
#sign_in_devise {
  width: 30%;
  label {
    color:white;
  }
  h1 {
    font-size: 3em;
  }
}
.ui.basic.sign_in.not_modal {
  padding-top : 10%;
  margin : 0 auto;
  max-width: 40%;
  font-weight: bold;
  label, h1 {
    color:white;
  }
}
// 회원가입의 메세지
.ui.floating.message {
  margin: 0 auto;
}

#confirm {
  width: 30%;
  //padding-top: $space * 2;
  padding-bottom: $space;
  margin: 0 auto;
}

.ui.grid.owner-register-form {
  margin-top: $space * 2;
  margin-left :auto;
  margin-right :auto;

  // 상태바
  #status {
    padding-left : $space*3;
  }
  // 회원가입 전체 디브
  .eight.wide.column.owner-account {
    width: 30%;
  }
}
