// Place all the styles related to the menus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ownersmenu {
  margin-top: 10%;
}

#menus-edit {
  max-width: 80%;
  padding-top: 7%;
  margin : 0 auto;
}
