<div class="ui container mypage">
  <div class="ui grid manage-store form">
    <div class="four wide column">
      <%= render partial: "layouts/manageMenu" %>
    </div>
    <% @stores.each do |s| %>
      <% if s.main_picture.url %>
      <img src="<%= s.main_picture.url %>">
      <% end %>
    <% end %>
  </div>
</div>
